SECRET_KEY=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CACHE_LOCATION=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
TELEGRAM_BOT_TOKEN=
DATABASE_DB=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_PASSWORD=
DEBUG=
EMAIL_USE_TLS=
EMAIL_USE_SSL=